<div class="card border-0 bg-black text-light" style="width: 20rem">
  <img
    [src]="character().thumbnail.url"
    [alt]="character().name"
    width="120px"
    height="250px"
    class="card-img-top rounded-3"
  />
  <div class="card-body p-2 px-0">
    <h2 class="card-title fs-5">{{ character().name }}</h2>
    <h4 class="card-title fs-5">
      {{ character().comics.firstAppearance }}
    </h4>
    @if (character().description) {
    <p class="card-text">{{ character().description }}</p>
    }
  </div>
</div>
