<mat-toolbar class="position-relative z-1">
  <div class="w-100 hstack justify-content-between">
    <h1 class="fs-3 text-primary">Marvel</h1>

    <div>
      @if (displayHomeIcon()) {
      <a mat-icon-button href="/">
        <mat-icon matTooltip="Back to initial page">home</mat-icon>
      </a>
      } @else {
      <button mat-icon-button (click)="handleSearchVisibility()">
        <mat-icon matTooltip="Search character">search</mat-icon>
      </button>
      }
    </div>
  </div>
</mat-toolbar>

<div class="w-100 left-0 top-10">
  <app-search
    [visible]="displaySearchCharacter"
    (close)="handleSearchVisibility()"
  ></app-search>
</div>
