<div class="px-4">
  <h2 class="text-light mb-3">Characters</h2>
  <main>
    <div [ngClass]="requestError() ? '' : 'characters-container'">
      @if (loading()) { @for (item of charactersPlaceholders; track $index) {
      <app-character-card [loading]="true"></app-character-card>
      } } @else if (requestError()) {
      <app-error-message (retry)="reloadApplication()"></app-error-message>
      } @else { @for (character of characters(); track $index) {
      <app-character-card [character]="character"></app-character-card>
      } }
    </div>
  </main>

  @if(!loading() && !requestError() && pagination()) {
  <mat-paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="pagination()!.total"
    [pageSize]="pagination()!.limit"
    [pageIndex]="pagination()!.offset"
    [hidePageSize]="false"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[10, 20, 30]"
  >
  </mat-paginator>
  }
</div>
