<div>
  <h2 class="text-light mb-3">Marvel Characters</h2>

  <main class="px-4">
    <div [ngClass]="requestError() ? '' : 'characters-container'">
      @if (loading()) { @for (item of charactersPlaceholders; track $index) {
      <app-character-card [loading]="true"></app-character-card>
      } } @else if (requestError()) {
      <app-error-message (retry)="reloadApplication()"></app-error-message>
      } @else { @for (character of characters(); track $index) {
      <app-character-card [character]="character"></app-character-card>
      } }
    </div>
  </main>
</div>
