/* You can add global styles to this file, and also import other style files */
// https://themes.angular-material.dev/

html,
body {
    --bs-primary-rgb: 226, 54, 54;
    --bs-primary: #E23636;
    --bs-black: #0D0202;
    --mat-sys-surface: var(--bs-black) !important;

    height: 100%;
    background-color: var(--bs-black);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}