html,
body {
    --bs-primary-rgb: 226, 54, 54;
    --bs-primary: #E23636;
    --bs-black: #0D0202;
    --mat-sys-surface: var(--bs-black) !important;

    height: 100%;
    background-color: var(--bs-black);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(bs-dark);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--bs-gray);
    border-radius: 10px;
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bs-primary);
}